<!DOCTYPE html>
<html>
  <head>
    <title>Mini Messageboard</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="/images/message.ico" type="image/x-icon">
  </head>
  <body>
    <div class="header">
      <h1>Mini Messageboard</h1>
      <p>Welcome to Mini Messageboard</p>
    </div>
    {{{body}}}
  </body>
</html>
