<h1 class="form-title">Add new message</h1>
<form method="POST" action="/new">
  <div class="username-box">
    <label for="username"></label>
    <input type="text"  name='username' placeholder="Please enter username" required />
  </div>
  <div class="text-box">
    <label for="text"></label>
    <textarea name='text' placeholder="Please enter your message" required ></textarea>
  </div>
  <button class="btn add-msg-btn">
    ADD NEW MESSAGE
  </button>
</form>

<div class="go-back-div">
  <a href="/">
    <div class="btn go-back">GO BACK</div>
  </a>
</div>