
<div class="add-new-msg">
  <a href="/new" >
    <div class="btn add-btn">ADD NEW MESSAGE</div>
  </a>
</div>

<div class='message-list'>
  {{#each messages}}
    <div class="message-box">
      <div class="username">
        <h2>{{user}}</h2>
      </div>
      <div class="msg-info">
        <p>{{text}}</p>
        <span>Submitted on: {{added}}</span>
      </div>
    </div>
  {{/each}}
</div>
